In [4]:
import pandas as pd

check = pd.read_csv('Test.csv')
check

      Unnamed: 0        Date           Time       Station  Entry  Exit
0              0  2021-04-01  03:00 - 03:59     North Ave    NaN   NaN
1              1  2021-04-01  03:00 - 03:59    Quezon Ave    NaN   NaN
2              2  2021-04-01  03:00 - 03:59  GMA Kamuning    NaN   NaN
3              3  2021-04-01  03:00 - 03:59         Cubao    NaN   NaN
4              4  2021-04-01  03:00 - 03:59      Santolan    NaN   NaN
...          ...         ...            ...           ...    ...   ...
9667        9667  2021-05-01  02:00 - 02:59     Guadalupe    NaN   NaN
9668        9668  2021-05-01  02:00 - 02:59       Buendia    NaN   NaN
9669        9669  2021-05-01  02:00 - 02:59     Ayala Ave    NaN   NaN
9670        9670  2021-05-01  02:00 - 02:59    Magallanes    NaN   NaN
9671        9671  2021-05-01  02:00 - 02:59          Taft    NaN   NaN

[9672 rows x 6 columns]

# Title and Authors

# Introduction of Problem

Link of Dataset

# List of Requirements

# Exploratory Analysis

# Data Cleaning and Preprecessing

# Feature Extraction

# Model Training

# Feature Selection & Hyperparameter Tuning

# Summary of the Best Model Configurat